<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalogo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/catalogo.css')}}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="img/logo.jpg" alt="Logo de la empresa">
    </div>
   </header>
   
 <div class="container">
  <div class="titulo"> Catalogo de productos </div>
    <div class="caja caja1"> <img src="static/css/img/crema_cor.jpg"> <p> Crema corporal dove</p> <p> Precio: $20.000 </p></div>
    <div class="caja caja2"> <img src="static/css/img/shampoo"> <p> Shampoo Herbal Essences  </p> <p> Precio: $20.000 </p> </div>
    <div class="caja caja3"> <img src="static/css/img/labial"> <p> Labial liquido mate  </p> <p> Precio: $20.000 </p></div>
    <div class="caja caja4"> <img src="static/css/img/mascarillas"> <p> mascarillas faciales para la cara </p> <p> Precio: $20.000 </p></div>
    <div class="caja caja5"> <img src="static/css/img/exfoliante"> <p> exfoliantes corporal de frutas </p> <p> Precio: $20.000 </p></div>
    <div class="caja caja6"> <img src="static/css/img/exf_facial"> <p> Exfoliante facial Nitrogena  </p> <p> Precio: $20.000 </p> </div>
    <div class="caja caja7"> <img src="static/css/img/perfumes"> <p> Todo tipo de perfumes </p> <p> Precio: $20.000 </p></div>
    <div class="caja caja8"> <img src="static/css/img/lapiz_ojos"> <p> Labial liquido mate  </p> <p> Precio: $20.000 </p> </div>
    <div class="caja caja9"> <img src="static/css/img/pestañina"> <p> Labial liquido mate  </p> <p> Precio: $20.000 </p></div>
    <div class="caja caja10"> <img src="static/css/img/aceite"> <p> Labial liquido mate  </p> <p> Precio: $20.000 </p></div>
 </div>


  <footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <p>&copy; 2023 Peluquería cambios extremos Saenz. Todos los derechos reservados.</p>
  </footer>
</body>
</html>