<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <header>
      <div class="logoo">
        <img src="static/css/img/logo" alt="Logo de la empresa">
      </div>
      <nav>
        <ul>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Contáctanos</a></li>
          <li><a href="#">Agenda tu Cita</a></li>
          <li><a href="#">Quienes Somos</a></li>
        </ul>
        <div class="hola">
          <a href="#" class="btn">Registrarse</a>
          <a href="#" class="btn">Iniciar Sesión</a>
        </div>
      </nav>
    </header>
   
    
     <body> 
      <div class="contenedor">
      <div class="b">
      <h1> Bienvenidos </h1>
      <p>Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo
        Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
        Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
        Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
        Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
        Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
        Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo </p>
        
       </div>
       <img src="static/css/img/fondo" alt="">
      </div>

      <div class="contenedor2">
        <div class="a2">
        <h1> Bienvenidos </h1>
        <p>Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo
          Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
          Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
          Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
          Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
          Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo 
          Bienvenidos a la peluqeria cambios extremops saenz aca podra encontrar todo </p>
          
         </div>
         <img src="static/css/img/fondo" alt="">
        </div>
        </div>
     </body>

     <div>
      <footer>
          <p>&copy; 2023 Peluquería cambios extremos Saenz. Todos los derechos reservados.</p>
        </footer>
      </div>
    
   
    
  </body>
  </html>